{% extends 'app/base.html' %}
{% load verbatim %}

{% block scripts %}
    <script src="/static/js/lib/socket.io.js"></script>
    <script src="/static/js/lib/alertify.min.js"></script>
    <script src="/static/js/lib/angular.js"></script>
    <script src="/static/js/models.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/services.js"></script>
    <script src="/static/js/controllers.js"></script>
{% endblock scripts %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/alertify.core.css">
    <link rel="stylesheet" href="/static/css/alertify.default.css">
{% endblock styles %}

{% block body %}
    <input id="room-id" type="hidden" value="{{ room_id }}"/>
    <input id="session-key" type="hidden" value="{{ request.session.session_key }}"/>
    <iframe id="_hidden" style="display:none"></iframe>

{%verbatim%}
<div class="container" ng-app="myApp" ng-controller="AppCtrl">
    <div class="row">
        <div class="span6">
            <div class="row">
                <div class="game-unit span6" ng-switch on="infoBarMode">
                    <div class="game-stats" ng-switch-when="stats">
                        <h3>Информация об игре</h3>
                        <p><b>Отгадано</b>: {{availableWordPart}}</p>
                        <p><b>Всего букв</b>: {{wordLength}}</p>
                        <p><b>Вы</b>: {{currentUser.name}} ({{currentUser.role}}) </p>
                    </div>
                    <div class="game-stats" ng-switch-when="completed">
                        <h3>Игра завершена</h3>
                        <p><b>Отгадано</b>: {{availableWordPart}}</p>
                        <p><b>Всего букв</b>: {{wordLength}}</p>
                        <p><b>Вы</b>: {{currentUser.name}} ({{currentUser.role}}) </p>
                    </div>
                    <div class="timer span6" ng-switch-when="timer">
                        <h2 class="text-error">
                            Контакт от
                            <span class="text-info">{{contactFrom.name}}</span>
                            к <span class="text-info">{{contactTo.name}}</span> через {{secondsLeft}} секунд
                        </h2>
                        <div class="input-prepend input-append" ng-show="currentUser.isMaster">
                            <span class="add-on">{{availableWordPart}}</span>
                            <input class="span2"type="text" ng-model="breakGuess"/>
                            <button class="btn btn-danger" type="button" ng-click="breakContact(breakGuess)">
                                <i class="icon-remove icon-white"></i>  Разорвать контакт
                            </button>
                        </div>
                    </div>
                    <form class="span6 form-horizontal" id="createContactForm" ng-switch-when="createContact">
                        <div class="control-group">
                            <div class="control-label">
                                Значение контакта
                            </div>
                            <div class="controls">
                                <div class="input-prepend">
                                    <span class="add-on">{{availableWordPart}}</span>
                                    <input class="span2" type="text" ng-model="newContactValue"/>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                Описание
                            </div>
                            <div class="controls">
                                <input class="span3" type="text"
                                       ng-maxlength="200"
                                       ng-model="newContactDescription"/>
                            </div>
                        </div>

                        <div class="row">
                            <button class="btn btn-danger offset1"
                                    type="button"
                                    ng-click="switchNormal()">
                                <i class="icon-remove icon-white"></i>  Отмена
                            </button>
                            <button class="btn btn-success"
                                    type="button"
                                    ng-click="createContact(newContactValue, newContactDescription)">
                                <i class="icon-plus icon-white"></i>  Создать контакт
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row chatwindow">
                <div class="chat-transcript-wrapper">
                    <section id="chatbox" class="chat-transcript">

                        <div class="row">
                            <div class="span2 span-mini name">Пользователь 1</div>
                            <div class="span5 span-maxi chat-text"> Привет! Ты масон! </div>
                        </div>

                        <div class="row">
                            <div class="span2 span-mini name"> Пользователь 2 </div>
                            <div class="span5 span-maxi chat-text"> Здравствуй! Нет, это ты масон! </div>
                        </div>

                        <div class="row">
                            <div class="span2 span-mini name"> Пользователь 3 </div>
                            <div class="span5 span-maxi chat-text"> Отнюдь, вы оба масоны! </div>
                        </div>

                    </section>
                </div>
                <section class="chat-entry">
                    <div class="row">
                        <div class="span4">
                            <input class="new-chat" type="text"/>
                        </div>
                        <button title="Отправить сообщение" class="btn btn-primary span1">
                            <i class="icon-envelope icon-white"></i>
                        </button>
                    </div>
                </section>
            </div><!--.chatwindow-->
        </div><!--.row-->

        <div class="span6">
            <div class="row">
                <button class="btn btn-success span1" type="button" ng-click="switchCreateContact()" ng-show="!currentUser.isMaster">
                    <i class="icon-plus icon-white"></i>
                </button>
                <button class="btn btn-primary span1" type="button" ng-show="currentUser.isMaster">
                    <i class="icon-pencil icon-white"></i>
                </button>
            </div>

            <div class="row">
                <ul class="media-list span6 user-list-wrapper">
                    <li class="media user-entry" ng-repeat="user in users">

                        <a class="pull-left" href="#">
                            <img class="media-object img-circle" src="/static/img/avatars/default_guy.png">
                        </a>
                        <div class="media-body" ng-switch on="user.hasContact">
                            <div class="row" ng-switch on="user.isOnline">
                                <h4 class="media-heading span2">{{user.name}}
                                    <span ng-show="user.isMaster">(Ведущий)</span>
                                </h4>

                                <span class="span1 offset2 text-success" ng-switch-when="true">
                                    <i>Online</i>
                                </span>
                                <span class="span1 offset2 text-error" ng-switch-when="false">
                                    <i>Offline</i>
                                </span>
                            </div>

                            <div ng-switch-when="false"> <!--Пользователь, если у него нет предложения контакта-->
                                <p class="user-text text-info">
                                    У пользователя пока нет предложений о контакте.
                                </p>
                            </div>

                            <div ng-switch-when="true"> <!--Пользователь, если у него есть предложение контакта-->
                                <p class="user-text">
                                    {{user.contact.desc}}
                                </p>
                                <div class="span5 user-controls">
                                    <div class="input-prepend input-append"  ng-show="!currentUser.isMaster && showUserControls">
                                        <span class="add-on">{{availableWordPart}}</span>
                                        <input class="span2 contact-suffix" ng-model="user.contact.guess" type="text"/>
                                        <button class="btn btn-success" type="button" ng-click="acceptContact(user.contact)">
                                            <i class="icon-magnet icon-white"></i>
                                            Установить контакт </button>
                                    </div>
                                    <div class="input-prepend input-append" ng-show="currentUser.isMaster  && showUserControls">
                                        <span class="add-on">{{availableWordPart}}</span>
                                        <input class="span2"type="text" ng-model="breakGuess"/>
                                        <button class="btn btn-danger" type="button" ng-click="breakContact(breakGuess, user.contact)">
                                            <i class="icon-remove icon-white"></i>  Разорвать контакт
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div><!--div .row-->
</div><!--div .container-->
{%endverbatim%}

{% endblock body %}