{% extends 'app/base.html' %}

{% block body %}
    <script>
        var conn;
        function open_websocket(){
            function show_message(message){
                var el = document.createElement('div');
                el.innerHTML = message;
                document.body.appendChild(el);
            }

            conn = io.connect('http://' + window.location.hostname +':8001');


            conn.on('login_result', function(data) {
                console.debug('login_result', data);
            });

            conn.on('reload', function() {
                window.location.reload();
            });

            conn.on('joined_user', function(data) {
                console.debug('joined_user', data);
            });

            conn.on('user_quit', function(data) {
                console.debug('user_quit', data);
            });

            conn.on('game_error', function(data) {
                console.debug('game_error', data);
            });
            conn.on('accepted_contact', function(data) {
                console.debug('accepted_contact', data);
            });

            conn.on('broken_contact', function(data) {
                console.debug('broken_contact', data);
            });
            conn.on('unsuccessful_contact_breaking', function(data) {
                console.debug('unsuccessful_contact_breaking', data);
            });

            conn.on('successful_contact_connection', function(data) {
                console.debug('successful_contact_connection', data);
            });
            conn.on('game_complete', function(data) {
                console.debug('game_complete', data);
            });
            conn.on('next_letter_opened', function(data) {
                console.debug('next_letter_opened', data);
            });
            conn.on('unsuccessful_contact_connection', function(data) {
                console.debug('unsuccessful_contact_connection', data);
            });

            conn.on('connect', function() {
                show_message('connected');
                conn.emit('login', '{{ request.session.session_key }}' , {{ room_id }});
            });

            conn.on('room_state_update', function(obj) {
                console.debug('room_state_update', obj);
            });

            conn.on('disconnect', function() {
                show_message('disconnected');
            });
        }
    </script>
Вы: {{ request.user }}<br/>
<h3>Контакты</h3>
    <a href="#" onclick="open_websocket();return false;">open</a><br/>
    <a href="#" onclick="conn.emit('room_state_request');return false;">Update</a><br/>
    <a href="#" onclick="conn.emit('contact_accept', 1, 'моделирование');return false;">accept</a><br/>
    <a href="#" onclick="conn.emit('contact_break', 1, 'мода');return false;">break</a><br/>
    <a href="#" onclick="conn.emit('contact_check', 1);return false;">check</a><br/>
    <iframe id="_hidden" style="display:none"></iframe>
    <h2>Messages</h2>
    <hr/>

{% endblock %}