<!doctype html>
<html>
<head>

  <meta charset="utf-8">
  
  <title>{% block title %}{% endblock title %} | Есть контакт!</title>
  
  <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/bootstrap/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="static/css/app.css">

</head>

<body>
  <div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="/" name="top">Kontakt</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="/"><i class="icon-home"></i> Главная</a></li>

          <li class="divider-vertical"></li>

          <li><a href="/about"><i class="icon-info-sign"></i> О нас</a></li>
        </ul>
        <div class="btn-group pull-right">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-user"></i> admin <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#"><i class="icon-wrench"></i> Settings</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="icon-share"></i> Logout</a></li>
          </ul>
        </div>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </div>
  <!--/.navbar-inner -->
</div>
<!--/.navbar -->

  {% block body %}
  {% endblock body  %}
  
<div class="span12 footer"></div>
</body>
</html>
