html {
    background: transparent url(/static/escheresque.png) repeat;
    height: 100%;
}

body {
    background-color: transparent;
    height: 100%;
}

.wrapper {
    background-color: white;
    padding: 30px 10% 50px;
    margin: 20px 0 20px 0;

    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
}

.hero-unit-custom {
    color: white;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
    background: #556270;

}

.hero-unit-custom h1 {
    font-size: 120px;
    line-height: 1;
    letter-spacing: -2px;
}

.hero-unit-custom p {
    font-size: 40px;
    font-weight: 200;
    line-height: 1.25;
}

.row.controls {
    margin-bottom: 20px;
}

.user-list-wrapper {
    margin-top: 10px;
    height: 560px;
    overflow-y: auto;
    -webkit-box-shadow: 0px 3px 25px 1px rgba(0, 0, 0, .2);
    box-shadow: 0px 3px 25px 1px rgba(0, 0, 0, .2);
    border-radius: 8px;
    background-color: #ffffff;
}

.user-list-wrapper li {
    margin-bottom: -10px;
}

.user-entry {
    overflow-y: hidden;
    min-height: 50px;
    max-height: 160px;
    background-color: #F3F3F3;
}

.user-entry img {
    width: 64px;
    height: 64px;margin: 4px;
}

.user-entry:hover {
    background-color: #EEEEEE;
}

.user-entry:hover .user-controls {
    display: block;
}

.user-entry .user-text {
    font-style: italic;
}

.user-entry .media-heading {
    color: #2B587A;
}

.user-entry .user-controls {
    margin: 5px;
}

.game-unit {
    background-color: white;
    border-radius: 8px;
    width: 100%;
    margin-left: 0px;
    height: 160px;
}

.game-stats {
    margin-left: 30px;
}

.chatwindow {
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 3px 25px 1px rgba(0, 0, 0, .2);
    box-shadow: 0 3px 25px 1px rgba(0, 0, 0, .2);
    border-radius: 8px;
    height: auto;
}

.chat-entry {
    width: 100%;
    background-color: #556270;
    border-radius: 0 0 8px 8px;
}

.chat-entry input {
    width: 100%;
}


.chat-entry .row {
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.chat-transcript-wrapper {
    -ms-overflow-y: auto;
    overflow-y: auto;
    height: 350px;
}

.chat-transcript {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.chat-transcript .row {
    margin: 0;
    padding: 5px 0;
}

.chat-transcript .row .name {
    -ms-word-break: break-all;
    word-break: break-all;
    font-weight: bold;
    color: #2B587A;
}

.chat-transcript .row .chat-text {
    -ms-word-break: break-all;
    word-break: break-all;
    color: #444;
}

.span2.span-mini {
    width: 130px;
}

.span5.span-maxi {
    width: 350px;
}

#registration-div {
    background-color: white;

    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
    padding: 30px 5% 30px;
    margin: 20px 50px 20px;
}

#createContactForm {
    margin-top: 10px;
}
