{% extends 'app/base.html' %}

{% block title %} О нас {% endblock title %}

{% block body %}
<article class="container">
	<div class="wrapper">
		<h2>Что это?</h2>
		<p><b>Контакт</b> (или <b>Есть контакт!</b>) — устная игра на отгадывание слова.</p>

		<p>Онлайн-версия игры <b>Есть контакт!</b> содержит в себе все элементы своего реального аналога и играть в нее не менее увлекательно.</p>

		<h2>Правила игры:</h2>

		<p>Минимальное количество игроков — три.</p>

		<ol>
			<li>Любым способом производится выбор ведущего из числа игроков.</li>
			<li>Ведущий загадывает слово и называет его первую букву.</li>
			<li>Каждый из остальных игроков придумывает слово, начинающееся с этой буквы, и пытается объяснить другим, что именно он задумал.</li>
			<li>Если кто-то из игроков понял, какое слово было задумано, устанавливается «контакт».</li>
			<li>У ведущего в распоряжении десять секунд, чтобы прервать «контакт» игроков, угадав слово (либо подобрав другое, но подходящее под объяснение), которое они задумали. В случае успеха происходит переход к пункту 3.</li>
			<li>Если у ведущего нет никаких идей (ведущий сдаётся) , то, по истечении десяти секунд, игроки, установившие контакт, озвучивают свою версию.</li>
			<li>В случае совпадения слов, ведущий называет следующую букву слова, загаданного вначале, происходит переход к пункту 3.</li>
			<li>В случае несовпадения слов — переход к пункту 3.</li>
			<li>Игра заканчивается, когда игроки произносят загаданное ведущим слово.</li>
		</ol>
	</div>
</article>
{% endblock body %}