<!doctype html>
<html>
<head>

  <meta charset="utf-8">
  
  <title>{% block title %}{% endblock title %} | Есть контакт!</title>
  
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="/static/css/app.css">
  <link href='http://fonts.googleapis.com/css?family=Poiret+One&subset=cyrillic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lobster&subset=cyrillic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Scada:400italic,400&subset=cyrillic' rel='stylesheet' type='text/css'>



  {% block styles %}
  {% endblock styles %}

  {% block scripts %}
  {% endblock scripts %}

</head>

<body>
  <div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/" name="top">Есть Контакт</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="/">Главная</a></li>

          <li><a href="/about">О нас</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </div>
  <!--/.navbar-inner -->
</div>
<!--/.navbar -->

  {% block body %}
  {% endblock body  %}
  
<div class="span12 footer"></div>

</body>
</html>
